ddns-update-style none;

option domain-name "ciscodevnet.com";

default-lease-time 3600;
max-lease-time 7200;

log-facility local7;

option tftp-server-address code 150 = ip-address;

subnet 10.10.20.0 netmask 255.255.255.0 {}

subnet {{ pod.net }} netmask {{ pod.mask }} {
    option routers {{ pod.router }};
    option tftp-server-address {{ pod.tftp_server }} ;
}


{% for switch in switches %}
    
host {{ switch.hostname }} {
    hardware ethernet  {{ switch.details.get('id') }};
    fixed-address {{ switch.details.get('oob_ip') | ipaddr('address') }};
    option bootfile-name "/var/lib/tftpboot/poap_{{ switch.hostname }}.py";
  }

{% endfor %}

