ddns-update-style none;

option domain-name "ciscodevnet.com";

default-lease-time 3600;
max-lease-time 7200;

log-facility local7;

option tftp-server-address code 150 = ip-address;

subnet {{ pod.net }} netmask {{ pod.mask }} {
    range {{ pod.start_ip }} {{ pod.end_ip }};
    option routers {{ pod.router }};
    option bootfile-name "poap_nexus_script.py";
    option tftp-server-address {{ pod.tftp_server }} ;
}


{% for switch in switches %}
    
host {{ switch.hostname }} {
    option dhcp-client-identifier "{{ switch.details.get('id') }}";
    fixed-address {{ switch.details.get('ip') }};
    option bootfile-name "/var/lib/tftpboot/poap_nexus_script.py";
  }

{% endfor %}

